<h1>este es el catalogo</h1>

<div id="catContainer"class="catalog">

</div>
@section Scripts{
<script src="~/js/catalog.js"></script>
}
@section Styles{
    <link href="~/css/cataog.css" rel="stylesheet">
}