@section Styles{
    <link href="~/css/register.css" rel="stylesheet">

}
@section Scripts{
    <script src="~/js/register.js"></script>
}


<h1>REGISTER NEW CAR</h1>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div id="divAlert" class="alert alert-success hide" role="alert">
  This is a success alert—check it out!
</div>
<form>
  <div class="form-group row">
    <label for="Make" class="col-4 col-form-label">Make</label> 
    <div class="col-8">
      <input id="Make" name="Make" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Model" class="col-4 col-form-label">Model</label> 
    <div class="col-8">
      <input id="Model" name="Model" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Year" class="col-4 col-form-label">Year</label> 
    <div class="col-8">
      <input id="Year" name="Year" type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Daily " class="col-4 col-form-label">Daily Price</label> 
    <div class="col-8">
      <input id="Daily " name="Daily " type="number" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Seats" class="col-4 col-form-label">Seats</label> 
    <div class="col-8">
      <input id="Seats" name="Seats" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Color" class="col-4 col-form-label">Color</label> 
    <div class="col-8">
      <input id="Color" name="Color" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Mil" class="col-4 col-form-label">Mileage</label> 
    <div class="col-8">
      <input id="Mil" name="Mil" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="HP" class="col-4 col-form-label">Horse Power</label> 
    <div class="col-8">
      <input id="HP" name="HP" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Img" class="col-4 col-form-label">Img</label> 
    <div class="col-8">
      <input id="Img" name="Img" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Doors" class="col-4 col-form-label">Doors</label> 
    <div class="col-8">
      <input id="Doors" name="Doors" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Cyls" class="col-4 col-form-label">Cyls</label> 
    <div class="col-8">
      <input id="Cyls" name="Cyls" type="text" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label for="Des" class="col-4 col-form-label">Description</label> 
    <div class="col-8">
      <input id="Des" name="Des" type="text" class="form-control">
    </div>
  </div> 
  <div class="form-group row">
    <div class="offset-4 col-8">
      <button id="btnSave"  type="button" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
